{% extends "DropyBundle::layout.html.twig" %}

{% block title %}{{ parent() }}- Accueil{% endblock %}

{% block body %}
	<h1>Bienvenue !</h1>
		<div class="ueiuei">
		<p>Sur mon outil de gestion des favoris (liens, images, mangas en ligne etc...). Ce n'est qu'une ébauche, il en existe déjà, mais ça m'occupe.</p>
		<h2>TODO</h2>
		<ul>
			<li>Lien unique (pas deux entrées au même lien)</li>
			<li>Ajout des collections</li>
			<li>Gestion des tags multiples</li>
			<li>Modification d'un favori</li>
			<li>Suppression d'un favori</li>
			<li>Recherche nsfw</li>	
			<li>Recherche selon seulement une colonne</li>
			<li>Affichage des entrées triées</li>
			<li>Gestion date d'ajout</li>
			<li>Check des liens</li>
			<li>Check des liens morts</li>
			<li>Gestion de compte</li>
			<li>Bootstrap</li>
		</ul>
		</div>
{% endblock %}